/config.php

/storage/*
!/storage/.htaccess
!/storage/entradas/
/storage/entradas/*
!/storage/entradas/.gitkeep
!/storage/entradas/.htaccess

/logs/*
!/logs/.htaccess
/vendor/stripe/stripe-php/README.md
